.movieCard {
    list-style: none;
    font-size: 1.5rem;
    color: azure;
    text-align: center;
}

.movieCard:hover {
    cursor: pointer;
    color: #0B5ED7;
}

.movieImage {
    background-color: azure;
    border-radius: 10px;
}

.movieInfo {
    min-width: 300px;
    padding: 15px;
}
